# Folders #
###########
alias/
apps/
lang/
logs/
scripts/
tmp/
tools/
vhosts/
*error/
*logs/

# Files #
#########
barimage.bmp
images_off.bmp
images_on.bmp
license.txt
unins000.dat
uninstall_services.bat
wampmanager.tpl

# File types#
#############
*.err
*.log
*.exe