/* CSS Cart */

body{
    background-image: url('pics/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

h2{
	font-family: Matura MT Script Capitals;
	margin-left: 12%;
    margin-top: -7%;
    color: #FFFFFF;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color:  black;

}

h4{

    font-family: monospace sans-serif;
    margin-left: -21%;
}
ul {
    list-style-type: none;
    margin: 0;
    margin-left: 10%;
    padding: 0;
    width: 60%;
    overflow: hidden;
    background-color: #00000F;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 5px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#FF0000;
}

#loginN {
    font-family: papyrus;
    color: white;
    margin-left: 12%;
    margin-top: -1%;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:  black;
}

#logga {
    position: relative;
    width: 10%;
    margin-top: 1%;
    margin-left: 1%;
}

ul.products-wrp {
    list-style: none;
    padding: 0;
    max-width: 652px;
    margin-left:  15%;
    margin-right: auto; 
    margin-top: 1.5%; 
    color: #777;  
    text-align: center;
}
ul.products-wrp li{
    display: inline-block;
    border: 1px solid #ECECEC;
    margin: 5px;
    background: #fff;
    text-align: center;
}
ul.products-wrp li h4{
    margin: 0;
    padding: 15px 5px 5px 5px;
    text-align: center;
    border-bottom: 1px solid #FAFAFA;
}
ul.products-wrp li .item-box{
    border: 1px solid #EAEAEA;
    background: #F9F9F9;
    margin: 5px;
    padding: 5px;
    text-align: left;
}
ul.products-wrp li .item-box div{
    margin-bottom:5px;
}
ul.products-wrp li .item-box button{
    margin-left: 5px;
    background: #00000F;
    border: none;
    padding: 3px 8px 3px 8px;
    color: #fff;
}
ul.products-wrp li .item-box button[disabled=disabled]{
    background: #FC84A8;
}

.cart-box {
    display: block;
    width: 30px;
    background: red url(../images/cart-icon.png) no-repeat 20px 5px;
    padding: 4px 8px 4px 8px;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.32);
    margin-right: auto;
    margin-left: 38%;
    font-weight: bold;
    margin-top: -1%;
}
.cart-box:hover{
    background: #FA1C5F url(../images/cart-icon.png) no-repeat 20px 5px;
}
.shopping-cart-box{ 
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    max-width: 450px;
    color: #FFD5D5;
    background: #00000F;
    border-radius: 4px;
    padding: 10px;
    font: small Verdana, Geneva, sans-serif;  
    margin-top: 10px;
    display:none;
}
.shopping-cart-box a{
    color: #FFD5D5;
    text-decoration:none;
}
.shopping-cart-box:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid rgba(255, 0, 97, 1);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.shopping-cart-box ul.cart-products-loaded{
    margin: 0;
    padding: 0;
    list-style: none;
}
.shopping-cart-box .close-shopping-cart-box{
  float: right;
}
#shopping-cart-results ul.cart-products-loaded li{
    background: #FF0000;
    margin-bottom: 1px;
    padding: 6px 4px 6px 10px;
}
.shopping-cart-box .remove-item{
    float:right;
    text-decoration:none;
}
.shopping-cart-box .cart-products-total{
    font-weight: bold;
    text-align: right;
    padding: 5px 0px 0px 5px;
}
.shopping-cart-box h3{
    margin: 0;
    padding: 0px 0px 5px 0px;
}

ul.view-cart {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 15px 15px 15px 25px;
  list-style: none;
}

ul.view-cart {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 15px 15px 15px 25px;
  list-style: none;
  border: 1px solid #FF0000;
  border-radius: 4px;
}
ul.view-cart li span{
    float: right;
}
ul.view-cart li.view-cart-total{
  border-top: 1px solid #ddd;
  padding-top: 5px;
  margin-top: 5px;
  text-align: right;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div img {
    max-width: 60px;
    max-height: 60px;
}